$bgcolor:#14224e;
* {
    margin: 0;
    padding: 0;
}

.body {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $bgcolor;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
}

.box {
    position: relative;
    width: 200px;
    height: 300px;
    line-height: 28px;
    background-color: $bgcolor;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    display: inline-block;
}

.box::before,
.box::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -13px;
    bottom: -13px;
    background-color: #fff;
    z-index: 0;
}

.box::after {
    filter: blur(40px);
}

.box:nth-child(1):before,
.box:nth-child(1):after {
    background: linear-gradient(235deg, #98ff00, #010615, #88bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #e7eb08);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196fc);
}

.box:nth-child(4):before,
.box:nth-child(4):after {
    background: linear-gradient(235deg, #2b1453, #49b318, #4a1cca);
}

.box .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255, 255, 255, -1);
    pointer-events: none;
    z-index: 1;
}

.box .content {
    padding: 5px;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $bgcolor;
}

.content img {
    width: 100%;
}